<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="WQ Test Suite">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/WQ/</directory>
        </whitelist>
    </filter>

    <logging>
	    <log type="coverage-clover" target="build/logs/clover.xml"/>
	    <log type="coverage-html" target="build/logs/coverage.html"/>
    </logging>
</phpunit>
